<?php //print_r($users);exit; ?>
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="form_main">
                <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
                <div class="form">
                <?php echo $this->Form->create("Users"); ?>
               
                    <input type="text" placeholder="Please input your Name" value="<?= $user['name'] ?>" name="name" class="txt">
                    <!--<input type="text"  placeholder="Please input your mobile No" value="" name="mob" class="txt">-->
                    <input type="text" placeholder="Please input your Email" value="<?= $user['email'] ?>" name="email" class="txt">
                    
                    
                    <!-- <textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea>-->
                     <input type="submit" value="submit" name="submit" class="txt2">
                <?= $this->Form->end(); ?>
            </div>
            </div>
            </div
    </div>
</div>
