
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="form_main">
                <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
                <div class="form">
                <?= $this->Form->create('',array('enctype'=>'multipart/form-data')); ?>
               
                    <input type="text" placeholder="Please input your Name" value="" name="name" class="txt">
                    <!--<input type="text"  placeholder="Please input your mobile No" value="" name="mob" class="txt">-->
                    <input type="text" placeholder="Please input your Email" value="" name="email" class="txt">
                     <input type="text" placeholder="Please input your password" value="" name="password" class="txt">
                     
                     <?php echo $this->Form->input('upload', array('type'=>'file')); ?>
                    <!-- <textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea>-->
                     <input type="submit" value="submit" name="submit" class="btn btn-success">
                <?= $this->Form->end(); ?>
            </div>
            </div>
            </div
    </div>
</div>
